.header {
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 0 10px rgb(255, 255, 255); */
  box-shadow: 0 0 10px #888;

  width: 100%;
  font-size: 15px;
  /* background: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  ); */
  background-color: white;
}
.header_dark {
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #888;
  width: 100%;
  font-size: 15px;
  /* background-color: rgb(78, 78, 78); */
  background-color: black;
}

.header__content {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
  align-items: center;
  height: 80px;
}

.header__actions {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 15px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.header__actions_auth {
  display: grid;
  grid-template-columns: repeat(3, auto) repeat(2, auto);
  gap: 15px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.header__user {
  margin: 0;
  font-weight: bold;
}

.header__user_dark {
  margin: 0;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.header__link {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(73, 98, 130);
  font-weight: bold;
}

.header__link_dark {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(125, 170, 230);
  font-weight: bold;
}

.header__link:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.header__link_dark:hover {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(228, 228, 228);
  font-weight: bold;
}

.header_logo {
  height: 60px;
}

.header_themeButton {
  height: 30px;
}
