.authForm_outerContainer {
  display: flex;
  height: 100vh;
}

.authForm {
  background-color: rgba(129, 173, 199, 0.5);
  margin: auto;
  text-align: center;
  min-width: 500px;
  padding: 20px;
  border-radius: 10px;
}

.authForm_input_title {
  text-align: left;
}

.authForm_submitButton {
  appearance: none;
  -webkit-appearance: none;
  padding: 5px;
  background-color: rgba(39, 139, 196, 1);
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 30%;
  margin: 10px;
}

.authForm_submitButton:hover {
  background-color: rgb(30, 110, 156);
}

.authForm_input {
  display: block;
  width: 96%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  transition: 0.3s border-color;
}

.authForm_input:hover {
  border: 1px solid #aaa;
}


.authForm_toggleButton{
  margin: 7px;
}
.authForm_warningField {
  width: fit-content;
  display: block;
  margin-top: 20px;
  color: rgb(221, 17, 17);
}

.authForm_warningField::after
{
  display: block;
  position: relative;
  content: '';
  border-bottom: 2px solid rgb(248, 57, 57);
  width: 100%;
}

.authForm_redirect {
  margin-top: 20px;
  font-size: 12px;
}

.authForm_redirect > a {
  text-decoration: none;
  font-weight: bold;
  color: rgba(39, 139, 196, 1);
}

.authForm_redirect > a:hover {
  color: rgb(255, 255, 255);
}
