.movie__background {
  height: fit-content;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
}

.movie__foreground {
  padding: 30px;
  display: flex;
  height: calc(100vh - 210px);
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.544);
  color: white;
}

.movie__poster--big {
  height: 100%;
  width: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.movie__information {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding:15px;
}

.movie__information--rating {
  box-sizing: border-box;
  width: fit-content ;
  padding: 5px;
  background-color: black;
  border-radius: 50%;
  border: 2px solid white;
}

.movie__information--header {
  text-align: start;
}

.movie__information--plot {
  margin: 20px, 20px;
  text-align: left;
}

@media only screen and (max-width : 700px) {
  .movie__information--plot {
    display: none;
  }
}