.button {
  /* background: rgb(73, 98, 130); */
  /* background-color: rgb(125, 170, 230); */
  background-color: black;
  box-shadow: 0 0 2px #888;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
  border: none;
  /* color: rgb(73, 98, 130); */
}

.button_dark {
  /* background: chartreuse; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  cursor: pointer;
  text-transform: uppercase;
  color: teal;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
}

.button:hover {
  /* background-color: #6d6d6d; */
  background-color: black;
  box-shadow: 0 0 15px #888;
  color: white;
  transition: 0.5s;
}
