.search-history-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -20px;
  margin-top: -20px;
  padding: 0;
  list-style: none;
}

.search-history-list li {
  margin-left: 20px;
  margin-top: 20px;
}

.search-history-list a {
  display: block;
  padding: 10px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 10px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.search-history-list a:hover {
  color: #5c5c5c;
}
