.search-form {
  position: relative;
  display: flex;
}

.search-form__input {
  flex-grow: 1;
  padding: 5px 26px 5px 5px;
}

.search-form__btn {
  position: absolute;
  top: 50%;
  right: 2px;

  width: 25px;
  height: 25px;
  padding: 0;

  background: none;
  border: none;

  transform: translate(0, -50%);
  cursor: pointer;
}

.search-form__btn:hover svg {
  fill: #5c5c5c;
}