.dev-list__item {
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  position: relative;
  height: 25px;
  align-items: center;
}

.dev-list__link {
  color: navy;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.dev-list__link_dark {
  color: rgb(240, 240, 240);
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.dev-list__link:hover {
  background-color: skyblue;
  color: black;
  transition: 0.3s;
}

.dev-list__link_dark:hover {
  background-color: skyblue;
  color: black;
  transition: 0.3s;
}

.developer_telegramLogo {
  width: 35px;
}
