.dev-list__item {
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  position: relative;
  height: 25px;
  align-items: center;
}

.dev-list__link {
  color: navy;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.dev-list__link_dark {
  color: rgb(240, 240, 240);
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.dev-list__link:hover {
  background-color: skyblue;
  color: black;
  transition: .3s;
}
.developer_telegramLogo{
  width: 35px;
}

@media screen and (min-width: 320px) and (max-width: 850px) {
  .dev-list__item {
    flex-direction: column;
    margin-bottom: 15px;
    align-items: flex-start;
  }
}