.dev-list {
  list-style: none;
  padding: 0;
  width: 30%;
}

@media screen and (min-width: 850px) and (max-width: 1100px) {
  .dev-list {
    width: 40%;
  }
}

@media screen and (max-width: 850px) {
  .dev-list {
    width: 50%;
  }
}
