.footer {
  width: 100%;
  background-color: teal;
  color: white;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}