.button {
  background: rgb(73, 98, 130);
  box-shadow: 0 0 2px #888;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px;
  cursor: pointer;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
  border: none;
}

.button_dark {
  background-color: black;
  box-shadow: 0 0 2px #888;
  color: rgb(125, 170, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  border: none;
}

.button_dark:hover {
  background-color: black;
  box-shadow: 0 0 15px rgb(125, 170, 230);
  color: white;
  transition: 0.5s;
}

.button:hover {
  background-color: black;
  box-shadow: 0 0 15px #888;
  color: white;
  transition: 0.5s;
}
